// Скрытие элементов
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Контейнер для центрирования контента
%container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
  width: $mobile;
  }

  @media screen and (min-width: $tablet) {
  width: $tablet;
  }

  @media screen and (min-width: $desktop) {
  width: $desktop;
  }

  background-color: thistle;
  outline: 1px solid tomato;
}

// Общие стили на секции
%section {
  padding-top: 60px;
  padding-bottom: 60px;
}