$text-font: 'Montserrat', sans-serif;
$accent-color: #4985FF;
$primary-text-color: #999999;
$secondary-text-color: #323232;
$ordinary-color: #000;
$contrast-color: #fff;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$items: 5;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
